* {
    padding: 0px;
    margin: 0px;
}
.card {
    background-color: rgb(255, 255, 255);
    border: solid thin rgb(172, 171, 171);
    border-radius: 25px;
    padding: 15px;
    margin: 10px auto;
    width: 500px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.555);
    font-family:'Times New Roman', Times, serif;
    
}

.recipe-heading {
    text-align: center;
    margin: 20px;
}

.home-heading {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

h2 {
    margin: 10px 0px;
}
.recipe-list {
    text-align: center;  
}

.instructions {
    margin-left: 30px;
}

.home-container {
    padding: 2.5px;
    text-align: center;    
}

.button {
    display: inline-block;
    background-color: rgb(192, 250, 192);
    padding: 5px;
    border-radius: 10px;
}